<div class="whitecolor marb-100" *ngFor="let eachmovie of movies">
  <div class="container mart-20">
    <video  controls="controls" width="100%" height="100%"> 
      <source src="https://www.googleapis.com/drive/v3/files/1zopLiTG40WPXg6jcnETE77kkWEjkL0n7?alt=media&amp;key=AIzaSyBGW-eFpHa2yL4zKmhp0P5ifB6_XaIFuA0" type="video/mp4" />
    </video>
  </div>
  <div class="container mart-50">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-12">
        <h1 class="mart-10">{{eachmovie.name}}</h1>
        <button type="button" class="btn btn-primary">
          Notifications <span class="badge badge-light">4</span>
        </button>
        <div class="mart-20 br"></div>
        <h1><i class="mart-10 yellowcolor fa fa-comments"></i> Comment about movie</h1>
        <textarea class="textarea" rows="3" placeholder="Nhập bình luận..." required="" name="content" spellcheck="false"></textarea>
        <button type="button" class="mart-5 float-r btn btn-success">submit</button>
        <div class="clear"></div>
      </div>
      <div class="col-md-6 col-sm-6 col-12">
        <a href=""><h4 class="float-r">learning english with engsubtitle</h4></a>
        <div class="clear"></div>
        <h4 class="float-r yellowcolor mart-100">Đánh giá phim: </h4>
        <div class="clear"></div>
        <div class="float-r" style="margin-top:1px">
          <i class="fa fa-star mar-5"></i>
          <i class="fa fa-star mar-5"></i>
          <i class="fa fa-star mar-5"></i>
          <i class="fa fa-star mar-5"></i>
          <i class="fa fa-star mar-5"></i>
          <i class="fa fa-star mar-5"></i>
          <i class="fa fa-star mar-5"></i>
          <i class="fa fa-star mar-5"></i>
          <i class="fa fa-star mar-5"></i>
          <i class="fa fa-star mar-5"></i>
        </div>
      </div>
    </div>
  </div>
</div>
